Package: com.wrp1002.powercharge
Name: OldSpark
Version: 0.1.0
Architecture: iphoneos-arm
Description: POWERful charging sound effects
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
